.side-categories {
  padding-top: 120px;
  height: 100vh;
  width: 230px;
  margin-right: 20px;
  .category-header {
    width: 90%;
    border: solid 2px #fad0c4;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    border-radius: 5px;
    height: calc(100vh - 120px);
    overflow: scroll;
    padding: 20px;
    margin-top: 20px;
    &__box {
      &__menu {
        display: flex;
        &__new-group {
         .fa-pen:before {
           margin-right: 5px;
           color:  #f68084;
         }
        }
      }
    }
  }
  .category-groups {
    a {
      color: #f68084;
        font-weight: bold;
        font-size: 14px;
    }
    .categories {
      margin-top: 5px;
      a.categorys__link {
        text-decoration: none;
      }
      &__category-title {
        color: #f68084;
        font-weight: bold;
        font-size: 14px;
        border: solid 1px #f68084;
        border-radius: 15px;
        text-align: center;
        margin-top: 10px;
      }
      &__category-icon {
        cursor: pointer;
        z-index: 2;
        text-align: right;
        cursor: pointer;
        color: #f68084;
        font-size: 15px;
        height: 35px;
        width: 35px;
        &:hover ul {
          display: block;
        ul {
          text-align: center;
          display: none;
          border-radius: 5px;
          border: solid 2px #fad0c4;
          background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
          a {
            font-size: 13px;
            color: #f68084;
            text-decoration: none;
          }
         }
        }
      }
    }
  }
}