-# .wrapper
.side-categories
  .category-header
    -# .category-header__box
    -#   %ul.category-header__box__menu
    -#     %li.category-header__box__menu__new-group
    -#       = icon('fa','pen')
    -#     %li.category-header__box__menyu__new-group-name
    -#       = link_to new_category_path() do
    -#         新規カテゴリ作成
    .category-groups
      - @categories.each do |category|
        .categories
          -# = link_to "/category/#{category.id}",  method: :get, class: "categorys__link" do
          = link_to "#", class: "categorys__link" do
            .categories__category-title
              = category.title


        -# %p.categories__category-message
        -#   = category.show_last_message

-# .category-groups
-#   - categories.each do |category|
-#     .categorys
-#       = link_to '#' do
-#       = link_to category_posts_path(category), class: "categories" do
-#         %p.categories__category-title
-#           = category.title