.contents
  .success-contents
    .success-contents__box
      .success-contents__box__comment
        %h3 投稿が完了しました
      .success-contents__box__btn
        = link_to "/", class: "success__btn__edit-btn" do
          戻る
        -# = link_to edit_group_path(@group.id), class: "main-header__edit-btn__edit-btn" do
        -#   戻る