.contents
  .success-contents
    .success-contents__box
      .success-contents__box__comment
        %h3 削除が完了しました
      .success-contents__box__btn
        = link_to "/", class: "success__btn__edit-btn" do
          戻る