.form
  = form_for @category do |f|
    .contener
      %ul.contener__header
        %li.contener__header__icon
          = icon('fa', 'pen')
        %li.contener__header__logo
          編集する
    .contener-text
      = f.text_field :title, class: 'contener-text__category-title', placeholder: "カテゴリー名を入力"
      -# = f.text_field :image, placeholder: "Image Url"
    -# .contener-image
    -#   = f.label :image, class: 'contener-image__image' do
    -#     = icon('fas', 'image', class: 'contener-image__image__icon')
    -#     = f.file_field :image, class: 'contener-image__image__file'
    = f.submit 'Save', class: 'share-btn